{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Экоуслуги – это какая-либо деятельность, организованная с учетом экологических норм, которая является безопасной не только для здоровья человека, но и для окружающей среды. Существуют такие направления экоуслуг как: эко-офис, эко-гостиница, эко-магазин.</p>
        <button class="btn btn-danger">Что такое экологичные услуги?</button>
    </div>
    {% endblock %}