{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Экотовары – это товары, безопасные не только для здоровья человека, но и для окружающей среды. Поскольку существенную часть вредного воздействия мы получаем от неэкологичных процессов производства и утилизации продукции, загрязняющих воду, воздух, почву. Поэтому, заботясь о природе, мы также заботимся о своем здоровье.</p>
        <button class="btn btn-warning">На страницу  про нас</button>
    </div>
    {% endblock %}